<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gem="http://typo3.org/ns/Buepro/Grevman/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{identifiedEventMember} && ({identifiedEventMember.eventGroupMember} || {settings.event.registration.open})">
    <f:if condition="{identifiedEventMember.registered}">
        <f:then>
            <gem:link.eventAction class="btn btn-warning" action="unregister" arguments="{event: identifiedEventMember.event, member: identifiedEventMember.member}">
                {f:translate(key: 'unregister')}
            </gem:link.eventAction>
        </f:then>
        <f:else>
            <gem:link.eventAction class="btn btn-primary" action="register" arguments="{event: identifiedEventMember.event, member: identifiedEventMember.member}">
                {f:translate(key: 'i_join')}
            </gem:link.eventAction>
            <f:if condition="!{identifiedEventMember.registrationState}">
                <gem:link.eventAction class="btn btn-warning" action="unregister" arguments="{event: identifiedEventMember.event, member: identifiedEventMember.member}">
                    {f:translate(key: 'unregister')}
                </gem:link.eventAction>
            </f:if>
        </f:else>
    </f:if>
</f:if>

</html>
