@charset "UTF-8";
@keyframes gem-heartbeat {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.typo3-messages {
  list-style: none;
  padding: 0;
}
.typo3-messages p:last-child {
  margin-bottom: 0;
}

.f3-form-error {
  box-shadow: red 0 0 4px 0;
}

.gem-zebra {
  padding: 1rem;
  background: #dedede;
}
.gem-zebra:nth-child(2n+1) {
  background: #f0f0f0;
}

.gem-event-facts {
  margin: -0.5rem;
}

.gem-event-facts li {
  display: inline-block;
  margin: 0 0.5rem;
}

.gem-event-list > section, .gem-event-table > section, .gem-event-detail > section {
  margin-top: 1.5rem;
  border-top: rgba(0, 0, 0, 0.2) 1px solid;
  padding-top: 1.5rem;
  overflow: hidden;
}
.gem-event-list > header > .gemc-control, .gem-event-table > header > .gemc-control, .gem-event-detail > header > .gemc-control {
  margin-top: 1.5rem;
}
.gem-event-list .gemc-col-event .gemc-row-header, .gem-event-table .gemc-col-event .gemc-row-header, .gem-event-detail .gemc-col-event .gemc-row-header {
  text-align: center;
}

.gem-event-listitem {
  position: relative;
}
.gem-event-listitem .gemc-facts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.gem-event-listitem .gemc-facts > a {
  margin-left: 1rem;
}
.gem-event-listitem.gemc-regstate-6:before, .gem-event-listitem.gemc-regstate-9:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1rem transparent solid;
}
.gem-event-listitem.gemc-regstate-6:before {
  border-top-color: lightgreen;
  border-left-color: lightgreen;
}
.gem-event-listitem.gemc-regstate-9:before {
  border-top-color: lightpink;
  border-left-color: lightpink;
}

.gem-event-table > section {
  display: flex;
}
.gem-event-table .gemc-cell {
  overflow: hidden;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  background: #dedede;
}
.gem-event-table .gemc-cell.gemc-content {
  text-align: center;
}
.gem-event-table .gemc-cell.gemc-regstate-6 {
  background: #71e971;
}
.gem-event-table .gemc-cell.gemc-regstate-9 {
  background: #ff92a3;
}
.gem-event-table .gemc-cell:nth-child(2n+1) {
  background: #f0f0f0;
}
.gem-event-table .gemc-cell:nth-child(2n+1).gemc-regstate-6 {
  background: lightgreen;
}
.gem-event-table .gemc-cell:nth-child(2n+1).gemc-regstate-9 {
  background: lightpink;
}
.gem-event-table .gemc-col {
  border: gray 1px solid;
}
.gem-event-table .gemc-col:nth-child(n+2) {
  border-left: 0;
}
.gem-event-table .gemc-col-axis .gemc-cell {
  width: 12rem;
  word-break: break-all;
}
.gem-event-table .gemc-row-axis {
  position: relative;
  height: 10rem;
}
.gem-event-table .gemc-row-axis .gemc-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 5rem;
  display: flex;
  align-items: center;
  line-height: 1.2;
  transform: rotateZ(-90deg);
  transform-origin: 2.5rem;
}
.gem-event-table .gemc-row-axis .gemc-content {
  padding: 0 0.5rem;
}
.gem-event-table .gemc-col-axis .gemc-row-axis {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gem-event-table .gemc-cell.gemc-row-header {
  background: #666;
  color: white;
}
.gem-event-table .gemc-hidden {
  display: none;
}
.gem-event-table .gemc-notes:after {
  content: "💬";
}

.gem-event-detail > header .btn {
  margin-right: 0.5rem;
}
.gem-event-detail > footer {
  margin-top: 2.25rem;
  border-top: rgba(0, 0, 0, 0.4) 1px solid;
  padding-top: 1rem;
}
.gem-event-detail > footer .btn {
  margin-right: 0.5rem;
}
.gem-event-detail .gem-event-facts {
  margin-bottom: 1rem;
}
.gem-event-detail .gemc-images {
  margin: 1rem -0.5rem;
}
.gem-event-detail .gemc-images img {
  max-width: 100%;
  height: auto;
}
.gem-event-detail .gemc-image {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.gem-event-detail .gemc-files {
  margin: 1rem 0;
}
.gem-event-detail .gemc-group {
  margin: 1rem 0;
}
.gem-event-detail .gemc-participants {
  display: flex;
  flex-wrap: wrap;
  margin: -0.3rem;
}
.gem-event-detail .gemc-participant {
  background: lightgrey;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
}
.gem-event-detail .gemc-participant.gemc-regstate-6 {
  background: lightgreen;
}
.gem-event-detail .gemc-participant.gemc-regstate-9 {
  background: lightpink;
}
.gem-event-detail .gemc-notes footer {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .gem-event-detail .gemc-images {
    float: right;
    max-width: 50%;
    margin: -0.5rem 0.5rem 0.5rem;
  }
}

.gem-mail-message, .gem-note {
  display: none;
  margin-top: 1.5rem;
}
.gem-mail-message.gemc-show, .gem-note.gemc-show {
  display: block;
}
.gem-mail-message .gemc-hint, .gem-note .gemc-hint {
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
}

/*# sourceMappingURL=theme.css.map */
