@charset "UTF-8";
.tx-grevman {
  --gem-zebra-bright: #f0f0f0;
  --gem-zebra-dark: #dedede;
  --gem-registered-bright: lightgreen;
  --gem-unregistered-bright: lightpink;
  --gem-registered-dark: #71e971;
  --gem-unregistered-dark: #ff92a3;
  --gem-gutter-small: 0.5rem;
  --gem-gutter-medium: 1rem;
  --gem-gutter-large: 1.5rem;
  --gem-participant-gutter: 0.3rem;
  --gem-row-header: #666;
  --gem-row-header-color: white;
  --gem-cell-padding-x: 0.5rem;
  --gem-cell-width: 5rem;
  --gem-cell-height: 2rem;
  --gem-x-axis-height: 10rem;
  --gem-y-axis-width: 12rem;
}

@keyframes gem-heartbeat {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.typo3-messages {
  list-style: none;
  padding: 0;
}
.typo3-messages p:last-child {
  margin-bottom: 0;
}

.f3-form-error {
  box-shadow: red 0 0 4px 0;
}

.gem-zebra {
  padding: var(--gem-gutter-medium);
  background: var(--gem-zebra-dark);
}
.gem-zebra:nth-child(2n+1) {
  background: var(--gem-zebra-bright);
}

.gem-event-facts {
  margin: 0 calc(-1 * var(--gem-gutter-small));
}

.gem-event-facts li {
  display: inline-block;
  margin: 0 var(--gem-gutter-small);
}

.gem-event-list > section, .gem-event-table > section, .gem-event-detail > section {
  margin-top: var(--gem-gutter-large);
  border-top: rgba(0, 0, 0, 0.2) 1px solid;
  padding-top: var(--gem-gutter-large);
  overflow: hidden;
}
.gem-event-list > header > .gemc-control, .gem-event-table > header > .gemc-control, .gem-event-detail > header > .gemc-control {
  margin-top: var(--gem-gutter-large);
}
.gem-event-list .gemc-col-event .gemc-row-header, .gem-event-table .gemc-col-event .gemc-row-header, .gem-event-detail .gemc-col-event .gemc-row-header {
  text-align: center;
}

.gem-event-listitem {
  position: relative;
}
.gem-event-listitem .gemc-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: var(--gem-gutter-medium);
}
.gem-event-listitem .gemc-action {
  margin: 0 calc(2 * var(--gem-gutter-small));
}
.gem-event-listitem.gemc-regstate-6:before, .gem-event-listitem.gemc-regstate-9:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: var(--gem-gutter-medium) transparent solid;
}
.gem-event-listitem.gemc-regstate-6:before {
  border-top-color: var(--gem-registered-bright);
  border-left-color: var(--gem-registered-bright);
}
.gem-event-listitem.gemc-regstate-9:before {
  border-top-color: var(--gem-unregistered-bright);
  border-left-color: var(--gem-unregistered-bright);
}

.gem-event-table > section {
  display: flex;
}
.gem-event-table .gem-event-wrap {
  display: flex;
  width: calc(100% - var(--gem-y-axis-width));
  overflow-x: auto;
}
.gem-event-table .gemc-cell {
  overflow: hidden;
  width: var(--gem-cell-width);
  height: var(--gem-cell-height);
  line-height: var(--gem-cell-height);
  padding: 0 var(--gem-cell-padding-x);
  background: var(--gem-zebra-dark);
}
.gem-event-table .gemc-cell.gemc-content {
  text-align: center;
}
.gem-event-table .gemc-cell.gemc-regstate-6 {
  background: var(--gem-registered-dark);
}
.gem-event-table .gemc-cell.gemc-regstate-9 {
  background: var(--gem-unregistered-dark);
}
.gem-event-table .gemc-cell:nth-child(2n+1) {
  background: var(--gem-zebra-bright);
}
.gem-event-table .gemc-cell:nth-child(2n+1).gemc-regstate-6 {
  background: var(--gem-registered-bright);
}
.gem-event-table .gemc-cell:nth-child(2n+1).gemc-regstate-9 {
  background: var(--gem-unregistered-bright);
}
.gem-event-table .gemc-col {
  border: gray 1px solid;
}
.gem-event-table .gemc-col:nth-child(n+2) {
  border-left: 0;
}
.gem-event-table .gemc-col-axis .gemc-cell {
  width: var(--gem-y-axis-width);
  word-break: break-all;
}
.gem-event-table .gemc-row-axis {
  position: relative;
  height: var(--gem-x-axis-height);
}
.gem-event-table .gemc-row-axis .gemc-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--gem-x-axis-height);
  height: var(--gem-cell-width);
  display: flex;
  align-items: center;
  line-height: 1.2;
  transform: rotateZ(-90deg);
  transform-origin: calc(var(--gem-cell-width) / 2);
}
.gem-event-table .gemc-row-axis .gemc-content {
  padding: 0 var(--gem-cell-padding-x);
}
.gem-event-table .gemc-col-axis .gemc-row-axis {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gem-event-table .gemc-cell.gemc-row-header {
  background: var(--gem-row-header);
  color: var(--gem-row-header-color);
}
.gem-event-table .gemc-hidden {
  display: none;
}
.gem-event-table .gemc-notes:after {
  content: "💬";
}

.gem-event-detail > header .btn {
  margin-right: var(--gem-gutter-small);
}
.gem-event-detail > footer {
  margin-top: calc(1.5 * var(--gem-gutter-large));
  border-top: rgba(0, 0, 0, 0.4) 1px solid;
  padding-top: var(--gem-gutter-medium);
}
.gem-event-detail > footer .btn {
  margin-right: var(--gem-gutter-small);
}
.gem-event-detail .gem-event-facts {
  margin-bottom: var(--gem-gutter-medium);
}
.gem-event-detail .gemc-images {
  margin: var(--gem-gutter-medium) calc(-1 * var(--gem-gutter-small));
}
.gem-event-detail .gemc-images img {
  max-width: 100%;
  height: auto;
}
.gem-event-detail .gemc-image {
  display: flex;
  flex-direction: column;
  margin: var(--gem-gutter-small);
}
.gem-event-detail .gemc-files {
  margin: var(--gem-gutter-medium) 0;
}
.gem-event-detail .gemc-group {
  margin: var(--gem-gutter-medium) 0;
}
.gem-event-detail .gemc-participants {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gem-participant-gutter));
}
.gem-event-detail .gemc-participant {
  background: lightgrey;
  padding: 0.5rem 1rem;
  margin: var(--gem-participant-gutter);
}
.gem-event-detail .gemc-participant.gemc-regstate-6 {
  background: var(--gem-registered-bright);
}
.gem-event-detail .gemc-participant.gemc-regstate-9 {
  background: var(--gem-unregistered-bright);
}
.gem-event-detail .gemc-notes footer {
  margin-top: var(--gem-gutter-medium);
}
@media (min-width: 768px) {
  .gem-event-detail .gemc-images {
    float: right;
    max-width: 50%;
    margin: 0 calc(-1 * var(--gem-gutter-small)) var(--gem-gutter-small) var(--gem-gutter-small);
  }
}

.gem-mail-message, .gem-note {
  display: none;
  margin-top: var(--gem-gutter-large);
}
.gem-mail-message.gemc-show, .gem-note.gemc-show {
  display: block;
}
.gem-mail-message .gemc-hint, .gem-note .gemc-hint {
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
}

/*# sourceMappingURL=theme.css.map */
