$gem-linear-gradient-darken: linear-gradient(rgba(0,0,0,var(--gem-darken-alpha)), rgba(0,0,0,var(--gem-darken-alpha)));

.tx-grevman {
    --gem-darken-alpha: 0.08;
    --gem-zebra: var(--bs-gray-200, #f0f0f0);
    --gem-registered: var(--bs-success, #5cb85c);
    --gem-unregistered: var(--bs-danger, #d9534f);
    --gem-gutter-small: 0.5rem;
    --gem-gutter-medium: 1rem;
    --gem-gutter-large: 1.5rem;
    --gem-participant-gutter: 0.3rem;

    //
    // Used in event table view
    //
    --gem-row-header: var(--bs-gray-600, #6c6c6c);
    --gem-row-header-color: white;
    --gem-cell-padding-x: 0.5rem;
    --gem-cell-width: 5rem;
    --gem-cell-height: 2rem;
    --gem-x-axis-height: 10rem;
    --gem-y-axis-width: 12rem;
}
