//
// Components
//
.gem-event-facts {
    margin: 0 -$gem-gutter-small;
}
.gem-event-facts li {
    display: inline-block;
    margin: 0 $gem-gutter-small;
}

//
// List and detail
//
.gem-event-list, .gem-event-table, .gem-event-detail {
    > section {
        margin-top: $gem-gutter-large;
        border-top: rgba(0, 0, 0, 0.2) 1px solid;
        padding-top: $gem-gutter-large;
        overflow: hidden;
    }
    > header > .gemc-control {
        margin-top: $gem-gutter-large;
    }
}

//
// Event list
//
.gem-event-listitem {
    position: relative;
    .gemc-facts {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: $gem-gutter-medium;
        > a {
            margin-left: $gem-gutter-medium;
        }
    }
    &.gemc-regstate-6, &.gemc-regstate-9 {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border: $gem-gutter-medium transparent solid;
        }
    }
    &.gemc-regstate-6 {
        &:before {
            border-top-color: $gem-registered;
            border-left-color: $gem-registered;
        }
    }
    &.gemc-regstate-9 {
        &:before {
            border-top-color: $gem-unregistered;
            border-left-color: $gem-unregistered;
        }
    }
}

//
// Event table
//
.gem-event-table {
    > section {
        display: flex;
    }
    .gemc-cell {
        overflow: hidden;
        width: $gem-cell-width;
        height: $gem-cell-height;
        line-height: $gem-cell-height;
        padding: 0 $gem-cell-padding-x;
        background: $gem-zebra-dark;
        &.gemc-content {
            text-align: center;
        }
        &.gemc-regstate-6 {
            background: darken($gem-registered, $gem-zebra-darken);
        }
        &.gemc-regstate-9 {
            background: darken($gem-unregistered, $gem-zebra-darken);
        }
        &:nth-child(2n+1) {
            background: $gem-zebra-bright;
            &.gemc-regstate-6 {
                background: $gem-registered;
            }
            &.gemc-regstate-9 {
                background: $gem-unregistered;
            }
        }
    }
    .gemc-col {
        border: gray 1px solid;
        &:nth-child(n+2) {
            border-left: 0;
        }
    }
    .gemc-col-axis {
        .gemc-cell {
            width: $gem-y-axis-width;
            word-break: break-all;
        }
    }
    .gemc-row-axis {
        position: relative;
        height: $gem-x-axis-height;
        .gemc-wrap {
            position:absolute;
            left: 0;
            bottom: 0;
            width: $gem-x-axis-height;
            height: $gem-cell-width;
            display: flex;
            align-items: center;
            line-height: 1.2;
            transform: rotateZ(-90deg);
            transform-origin: $gem-cell-width / 2;
        }
        .gemc-content {
            padding: 0 $gem-cell-padding-x;
        }
    }
    .gemc-col-axis .gemc-row-axis {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gemc-cell.gemc-row-header {
        background: $gem-row-header;
        color: $gem-row-header-color;
    }

    .gemc-hidden {
        display: none;
    }
    .gemc-notes {
        &:after {
            content: "\1F4AC";
        }
    }
}

//
// Event detail
//
.gem-event-detail {
    > header {
        .btn {
            margin-right: $gem-gutter-small;
        }
    }
    > footer {
        margin-top: 1.5 * $gem-gutter-large;
        border-top: rgba(0,0,0,0.4) 1px solid;
        padding-top: $gem-gutter-medium;
        .btn {
            margin-right: $gem-gutter-small;
        }
    }
    .gem-event-facts {
        margin-bottom: $gem-gutter-medium;
    }
    .gemc-images {
        margin: #{$gem-gutter-medium} -#{$gem-gutter-small};
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .gemc-image {
        display: flex;
        flex-direction: column;
        margin: $gem-gutter-small;
    }
    .gemc-files {
        margin: $gem-gutter-medium 0;
    }
    .gemc-group {
        margin: $gem-gutter-medium 0;
    }
    .gemc-participants {
        display: flex;
        flex-wrap: wrap;
        margin: -$gem-participant-gutter;
    }
    .gemc-participant {
        background: lightgrey;
        padding: 0.5rem 1rem;
        margin: $gem-participant-gutter;
        &.gemc-regstate-6 {
            background: $gem-registered;
        }
        &.gemc-regstate-9 {
            background: $gem-unregistered;
        }
    }
    .gemc-notes {
        footer {
            margin-top: $gem-gutter-medium;
        }
    }
    @media (min-width: 768px) {
        .gemc-images {
            float: right;
            max-width: 50%;
            margin: 0 -$gem-gutter-small $gem-gutter-small $gem-gutter-small;
        }
    }
}

.gem-mail-message, .gem-note {
    display: none;
    margin-top: $gem-gutter-large;
    &.gemc-show {
        display: block;
    }
    .gemc-hint {
        background: rgba(white, 0.7);
        padding: 1rem;
    }
}

