//
// Components
//
.gem-event-facts {
    margin: 0 calc(-1 * var(--gem-gutter-small));
}
.gem-event-facts li {
    display: inline-block;
    margin: 0 var(--gem-gutter-small);
}

//
// List, table and detail
//
.gem-event-list, .gem-event-table, .gem-event-detail {
    > section {
        margin-top: var(--gem-gutter-large);
        border-top: rgba(0, 0, 0, 0.2) 1px solid;
        padding-top: var(--gem-gutter-large);
        overflow: hidden;
    }
    > header > .gemc-control {
        margin-top: var(--gem-gutter-large);
    }
    .gemc-col-event {
        .gemc-row-header {
            text-align: center;
        }
    }
}

//
// Event list
//
.gem-event-listitem {
    position: relative;
    .gemc-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: var(--gem-gutter-medium);
    }
    .gemc-action {
        margin: 0 calc(2 * var(--gem-gutter-small));
    }
    &.gemc-regstate-6, &.gemc-regstate-9 {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border: var(--gem-gutter-medium) transparent solid;
        }
    }
    &.gemc-regstate-6 {
        &:before {
            border-top-color: var(--gem-registered-bright);
            border-left-color: var(--gem-registered-bright);
        }
    }
    &.gemc-regstate-9 {
        &:before {
            border-top-color: var(--gem-unregistered-bright);
            border-left-color: var(--gem-unregistered-bright);
        }
    }
}

//
// Event table
//
.gem-event-table {
    > section {
        display: flex;
    }
    .gem-event-wrap {
        display: flex;
        width: calc(100% - var(--gem-y-axis-width));
        overflow-x: auto;
    }
    .gemc-cell {
        overflow: hidden;
        width: var(--gem-cell-width);
        height: var(--gem-cell-height);
        line-height: var(--gem-cell-height);
        padding: 0 var(--gem-cell-padding-x);
        background: var(--gem-zebra-dark);
        &.gemc-content {
            text-align: center;
        }
        &.gemc-regstate-6 {
            background: var(--gem-registered-dark);
        }
        &.gemc-regstate-9 {
            background: var(--gem-unregistered-dark);
        }
        &:nth-child(2n+1) {
            background: var(--gem-zebra-bright);
            &.gemc-regstate-6 {
                background: var(--gem-registered-bright);
            }
            &.gemc-regstate-9 {
                background: var(--gem-unregistered-bright);
            }
        }
    }
    .gemc-col {
        border: gray 1px solid;
        &:nth-child(n+2) {
            border-left: 0;
        }
    }
    .gemc-col-axis {
        .gemc-cell {
            width: var(--gem-y-axis-width);
            word-break: break-all;
        }
    }
    .gemc-row-axis {
        position: relative;
        height: var(--gem-x-axis-height);
        .gemc-wrap {
            position:absolute;
            left: 0;
            bottom: 0;
            width: var(--gem-x-axis-height);
            height: var(--gem-cell-width);
            display: flex;
            align-items: center;
            line-height: 1.2;
            transform: rotateZ(-90deg);
            transform-origin: calc(var(--gem-cell-width) / 2);
        }
        .gemc-content {
            padding: 0 var(--gem-cell-padding-x);
        }
    }
    .gemc-col-axis .gemc-row-axis {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gemc-cell.gemc-row-header {
        background: var(--gem-row-header);
        color: var(--gem-row-header-color);
    }

    .gemc-hidden {
        display: none;
    }
    .gemc-notes {
        &:after {
            content: "\1F4AC";
        }
    }
}

//
// Event detail
//
.gem-event-detail {
    > header {
        .btn {
            margin-right: var(--gem-gutter-small);
        }
    }
    > footer {
        margin-top: calc(1.5 * var(--gem-gutter-large));
        border-top: rgba(0,0,0,0.4) 1px solid;
        padding-top: var(--gem-gutter-medium);
        .btn {
            margin-right: var(--gem-gutter-small);
        }
    }
    .gem-event-facts {
        margin-bottom: var(--gem-gutter-medium);
    }
    .gemc-images {
        margin: var(--gem-gutter-medium) calc(-1 * var(--gem-gutter-small));
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .gemc-image {
        display: flex;
        flex-direction: column;
        margin: var(--gem-gutter-small);
    }
    .gemc-files {
        margin: var(--gem-gutter-medium) 0;
    }
    .gemc-group {
        margin: var(--gem-gutter-medium) 0;
    }
    .gemc-participants {
        display: flex;
        flex-wrap: wrap;
        margin: calc(-1 * var(--gem-participant-gutter));
    }
    .gemc-participant {
        background: lightgrey;
        padding: 0.5rem 1rem;
        margin: var(--gem-participant-gutter);
        &.gemc-regstate-6 {
            background: var(--gem-registered-bright);
        }
        &.gemc-regstate-9 {
            background: var(--gem-unregistered-bright);
        }
    }
    .gemc-notes {
        footer {
            margin-top: var(--gem-gutter-medium);
        }
    }
    @media (min-width: 768px) {
        .gemc-images {
            float: right;
            max-width: 50%;
            margin: 0 calc(-1 * var(--gem-gutter-small)) var(--gem-gutter-small) var(--gem-gutter-small);
        }
    }
}

.gem-mail-message, .gem-note {
    display: none;
    margin-top: var(--gem-gutter-large);
    &.gemc-show {
        display: block;
    }
    .gemc-hint {
        background: rgba(white, 0.7);
        padding: 1rem;
    }
}

