.gem-zebra {
    padding: var(--gem-gutter-medium);
    background: var(--gem-zebra) $gem-linear-gradient-darken;
    &:nth-child(2n+1) {
        background: var(--gem-zebra);
    }
}
.gem-icon-edit:after {
    content: '✎';
}
.gem-icon-delete:after {
    content: '✕';
}
.tx-grevman {
    footer {
        .btn-group, .btn {
            margin-right: var(--gem-gutter-small);
        }
        .btn-group > .btn {
            margin-right: initial;
        }
    }
}
