//
// TYPO3 classes
//
.typo3-messages {
    list-style: none;
    padding: 0;
    p:last-child {
        margin-bottom: 0;
    }
}
.f3-form-error {
    box-shadow: red 0 0 4px 0;
}

//
// Grevman
//
.gem-zebra {
    padding: var(--gem-gutter-medium);
    background: var(--gem-zebra) $gem-linear-gradient-darken;
    &:nth-child(2n+1) {
        background: var(--gem-zebra);
    }
}

