<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gem="http://typo3.org/ns/Buepro/Grevman/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Event" />

<f:section name="content">
    <f:flashMessages />
    <div class="gem-event-list">
        <header>
            <h2>{f:translate(key: 'upcomingEvents')}</h2>
            <div class="gemc-control"><f:link.action class="btn btn-primary" action="table">{f:translate(key: 'showTable')}</f:link.action></div>
        </header>
        <section class="gemc-list">
            <f:for each="{events}" as="event">
                <article class="gem-event-listitem gem-zebra gemc-regstate-{gem:registration(event: event, member: identifiedMember, property: 'state')}">
                    <div class="gemc-section gemc-header">
                        <f:render partial="Event/Facts" arguments="{event: event}" />
                        <f:render partial="Event/RegisterAction" arguments="{event: event, member: identifiedMember, targetAction: 'list', btnGroupClass: 'btn-group-sm'}" />
                        <gem:link.eventAction class="btn btn-sm btn-primary" action="detail" arguments="{event : event}">Details</gem:link.eventAction>
                    </div>
                    <div class="gemc-section gemc-text">
                        <header>
                            <h4>{event.title}</h4>
                            <h5>{event.location}</h5>
                        </header>
                        {event.teaser -> f:format.html()}
                    </div>
                </article>
            </f:for>
        </section>
    </div>
</f:section>
</html>
