<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:flashMessages />
    <div class="gem-event-list">
        <h2>Upcoming events</h2>
        <div class="gemc-list">
            <f:for each="{events}" as="event">
                <div class="gem-event-listitem gem-zebra">
                    <div class="gemc-section gemc-facts">
                        <f:render partial="Event/Facts" arguments="{event: event}" />
                        <f:link.action class="btn btn-sm btn-primary" action="show" arguments="{event : event}">Details</f:link.action>
                    </div>
                    <div class="gemc-section gemc-text">
                        <h4>{event.title}</h4>
                        <h5>{event.location}</h5>
                        {event.teaser -> f:format.html()}
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</f:section>
</html>
