<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:flashMessages />
    {settings.event.detail -> f:variable(name: '_settings')}
    <div class="gem-event-detail">
        <header>
            <h2>{event.title}</h2>
            <f:render partial="Event/Facts" arguments="{event:event}" />
            {event.teaser ->f:format.html()}
        </header>
        <f:if condition="{event.description} || {event.images} || {event.files}">
            <section class="gemc-desc">
                <div class="gemc-text">
                    <header>
                        <h3>{f:translate(key: 'tx_grevman_domain_model_event.description')}</h3>
                    </header>
                    {event.description ->f:format.html()}
                </div>
                <f:if condition="{event.images}">
                    <div class="gemc-images">
                        <f:for each="{event.images}" as="image">
                            <div class="gemc-image">
                                <figure>
                                    <f:image image="{image}" width="{_settings.image.width}" height="{_settings.image.height}" />
                                </figure>
                                <f:if condition="{image.originalResource.description}">
                                    <figcaption>{image.originalResource.description}</figcaption>
                                </f:if>
                            </div>
                        </f:for>
                    </div>
                </f:if>
                <f:if condition="{event.files}">
                    <div class="gemc-files">
                        <strong>{f:translate(key: 'tx_grevman_domain_model_event.files')}: </strong>
                        <f:for each="{event.files}" as="file" iteration="iterator">
                            <span class="news-related-files-link">
                                <a href="{file.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
                                    {f:if(condition:file.originalResource.title, then:file.originalResource.title, else:file.originalResource.name)}
                                </a>
                            </span>
                        </f:for>
                    </div>
                </f:if>
            </section>
        </f:if>
        <f:if condition="{event.program}">
            <section class="gemc-prog">
                <header>
                    <h3>{f:translate(key: 'tx_grevman_domain_model_event.program')}</h3>
                </header>
                {event.program ->f:format.html()}
            </section>
        </f:if>
        <section class="gemc-reg">
            <header>
                <h3>{f:translate(key: 'participants')}</h3>
            </header>
            <f:render partial="Event/Registrations" arguments="{event: event, eventGroups: eventGroups, guests: event.guests}" />
        </section>
        <f:if condition="{identifiedEventMember} && {event.notes}">
            <section class="gemc-notes">
                <header>
                    <h3>{f:translate(key: 'tx_grevman_domain_model_event.notes')}</h3>
                </header>
                <div class="gemc-wrap"></div>
                <f:for each="{event.notes}" as="_note">
                    <article class="gem-zebra">
                        {_note.text -> f:format.html()}
                        <p class="small">{_note.member.screenName}</p>
                    </article>
                </f:for>
            </section>
        </f:if>
        <footer>
            <f:link.action class="btn btn-primary" action="list">Back to list</f:link.action>
            <f:if condition="({identifiedEventMember}">
                <f:render partial="Event/UserActions" arguments="{event: event, identifiedEventMember: identifiedEventMember, eventGroups: eventGroups}" />
            </f:if>
        </footer>
    </div>
    <f:if condition="{identifiedEventMember.isLeader} && {identifiedEventMember.email}">
        <div id="gem-mail-message" class="gem-mail-message gem-zebra">
            <f:form name="mailDto" object="{mailDto}" action="sendMail">
                <div class="form-group">
                    <f:form.textfield property="subject" class="form-control" placeholder="{f:translate(key: 'subject')}*" />
                </div>
                <div class="form-group">
                    <f:form.textarea property="message" class="form-control" placeholder="{f:translate(key: 'message')}*" />
                </div>
                <f:form.hidden property="event" value="{event}" />
                <f:form.hidden property="sender" value="{identifiedEventMember.member}" />
                <f:form.submit class="btn btn-primary" value="{f:translate(key: 'send')}" />
            </f:form>
        </div>
    </f:if>
</f:section>
</html>
